<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="https://www.example.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="<%= title %>"/>
  <meta property="og:title" content="<%= title %>"/>
  <meta property="og:description" content="description test description test"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="description test description test">
  <title><%= title %> | ドキュメント</title>
</head>
<body>
  <div>
    <h1><%= title %></h1>
    <p><%= content %></p>
  </div>
</body>
</html>
